/* Use alternative box model */
html {
  font-size: 10px;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* body section */
body {
  background-color: #f68583;
  margin: 0;
  padding: 0;
  font-family: 'Walter Turncoat', cursive;
 }

 /* content styling */
 /* ----------------------------------------------- */
 /* first block, current Round styling */
 .text-round-count {
   font-size: 7rem;
   text-align: center;
   margin: 20px 0px 0px 0px;
   /* background-color: darkgreen; */
}

/* Player and Computer score styling */
.text-count-flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 10px 50px;
  font-size: 3rem;
  /* background-color: blueviolet; */
}

/* left and right hands styling */

.hands-flex-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* margin: 0px 20px 0px 20px; */
  /* background-color: cadetblue; */
}

.hand-left-img {
  max-width: 400px;
  /* max-width: 400px; */
  margin-left: -120px;
}

.hand-right-img {
  max-width: 400px;
  /* max-width: 400px; */
  margin-right: -120px;
} 

/* hands bottom styling */

.hands-bottom-flex-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
  position: fixed;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  /* background-color: burlywood; */
}

.hands-bottom {
  max-width: 80px;
}




