/* Use alternative box model */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f68583;
  margin: 0;
  padding: 0;
  font-family: 'Walter Turncoat', cursive;
   }

.hands { 
  /* max-width:100%; */
  margin: 20px 0px 0px 0px;
  /* background-color: black; */
}

.hand-left-container {
  float: left;
  margin-left: -115px;
  background-color: rgb(37, 54, 206);
}

.hand-right-container {
  float: right;
  /* if we decide to leave negative margin it will cause horizontal scroll, because overflow: hidden apply for a child container, not for a parent. And this is a parent container for an image */
  /* margin-right: -115px; */
  overflow: hidden;
  background-color: rgb(37, 206, 155);
}

.hand-left-img {
  max-width: 100%;
}

.hand-right-img {
  max-width: 1000px;
  margin-right: -50px;
}

.text-round-count {
  font-size: 350%;
  text-align: center;
  /* background-color: darkgreen; */

  margin: 20px 0px 0px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* fullwidth background color */
  /* background-color: darkred; */
}

li {
  display: block;
  padding: 0px;
  font-size: 180%;
}

.li-left {
  float: left;
  margin-left: 20px;
}

.li-right {
  float: right;
  margin-right: 20px;
}

.test-div {
  background-color: black;
  width: 100px;
  height: 100px;
}

.wrapper-div {
  overflow: hidden;
  position: relative;

  background-color: red;
}

.inner-div {
  position: absolute;
  width: 200px;
  height: 200px;

  margin-right: -500px;

  background-color: black;
}